<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container"> <!--start container-->

        <div class="row"> <!-- start row-->

          <div class="col-6 mx-auto"> <!-- start col-->

            <div class="card card-signin  my-5"> <!--card start-->

              <div class="card-body"> <!--start card body-->
                <h5 class="card-title text-center">Register</h5>
                <form class="form-signin" action="/register" method="POST">
                {% csrf_token %}

                  <div class="form-label-group">
                    <span class="text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'firstnamelength error' %}
                                {{ message }}
                                {% elif message.tags == 'firstnameReg error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                        
                    <input type="text" name="firstnameReg" class="form-control m-2" placeholder="First Name" required autofocus>
                    <label for="inputUserame">First Name</label>
                  </div>

                  <div class="form-label-group">
                    <span class="text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'lastnamelength error' %}
                                {{ message }}
                                {% elif message.tags == 'lastnameReg error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                    <input type="text" name="lastnameReg" class="form-control m-2" placeholder="Last Name" required autofocus>
                    <label for="inputUserame">Last Name</label>
                  </div>
                  
                  <div class="form-label-group">
                    <span class="text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'emaillength error' %}
                                {{ message }}
                                {% elif message.tags == 'emailReg error' %}
                                {{ message }}
                            {% endif %}
                        {% endfor %}
                    </span>
                    <input type="email" name="emailReg" class="form-control m-2" placeholder="Email" required>
                    <label for="inputEmail">Email address</label>
                  </div>

                  <hr>
    
                  <div class="form-label-group">
                    <span class="text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'passwordlength error' %}
                                {{ message }}
                                {% elif message.tags == 'passwordReg error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                    <input type="password" name="passwordReg" class="form-control m-2" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                  </div>

                  <div class="form-label-group">
                    <span class="text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'passwordConfirm error' %}
                                {{ message }}
                            {% endif %}
                        {% endfor %}
                    </span>
                    <input type="password" name="passwordConfirm" class="form-control m-2" placeholder="Password" required> 
                    <label for="inputConfirmPassword">Confirm password</label>
                  </div>
    
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
 
                </form>
              </div> <!--end card body-->

            </div> <!-- card end-->

          </div> <!-- end col-->

          <div class="col-6 mx-auto"> <!--2nd col start-->

            <div class="card card-signin  my-5"> <!--card begin-->

            <div class="card-body"> <!--card body-->

            <div class="login-form">
                <h5 class="text-center">Log in</h5> 
                <form action="/login" method="POST">
                {% csrf_token %}

                    <div class="form-group">
                        <span class="text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'login error' %}
                                    {{ message }}
                                {% endif %}
                            {% endfor %}
                        </span>
                        <input type="email" class="form-control m-2" placeholder="Email" name="loginEmail" required="required">
                        <label for="loginEmail">Email</label>
                    </div>

                    <div class="form-group">
                        <span class="text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'login error' %}
                                    {{ message }}
                                {% endif %}
                            {% endfor %}
                        </span>
                        <input type="password" class="form-control m-2" placeholder="Password" name="loginPassword" required="required">
                        <label for="loginPassword">Password</label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                    
            </div>
            </div> <!-- end card body-->
            </div> <!--card end-->
          </div> <!--2nd col end-->

        </div><!-- end row-->

      </div> <!-- end container-->
</body>
</html>